.header {
    width: 100%;
    height: 80px;
    background-color: rgb(226, 216, 245);
}

.write {
    text-align: center;
    color: rgb(102, 124, 199);
    font-family: 'Times New Roman', Times, serif;
}